<h2>Contact Us</h2>

<div>
  <h3>Our Office Address</h3>
  <p>
    123 Liquor Street<br>
    Suite 456<br>
    Cityville, State 78901<br>
    Country
  </p>
</div>

<div>
  <h3>Contact Information</h3>
  <p><strong>Phone:</strong> +1 (555) 123-4567</p>
  <p><strong>Email:</strong> info@liquorstore.com</p>
</div>
<div>
  <h3>Hours of Operation</h3>
  <p><strong>Monday to Sunday:</strong> 10:00 AM - 2:00 AM</p>
</div>
<li><%= link_to 'Return Home', home_path %></li>
