<h1>🍻 Welcome to the Liquor Store 🍻</h1>
<ul>
  <li><%= link_to 'See the Menu', menu_path %></li>
  <li><%= link_to 'See the Events', events_path %></li>
  <li><%= link_to 'See the Contact info', contact_path %></li>
</ul>